@import "variables";
@import "body";

html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//body 
body {
  background-color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  font-size: 16px;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

* {
	box-sizing: border-box;
}
//HEADER 
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 10;
  border-bottom: 2px solid $gray;
  padding: 10px 0;
  h1 {
  	color: $blue;
  	display: inline-block;
  	margin: 5px 0 10px 0;
  }
  .header-right {
  	float: right;
		padding: 10px 0;
		font-size: 16px;
		display: inline-block;
		.logout {
			display: inline-block;
			margin-right: 30px;
			span {
				padding-right: 10px;
			}
			.button {
				background-color: $red;
				&:hover, &:focus {
					background-color: $darkred;
				}
			}
		}
		.menu {
			display: inline-block;
			a {
				cursor: pointer;
				margin: 0 10px 0 10px;
				transition: 0.2 ease;
				color: black;
				&:hover, &:focus {
					transition: 0.2s ease;
					color: $blue;
				}
			}
			.active-link {
				color: $blue;
			}
		}
		.login-form {
			label {
				padding-right: 5px;
			}
			input {
				margin-right: 10px;
				padding: 2px 4px;
			}
			button {
				margin-left: 20px;
			}
		}
	}
}

.content {
	max-width: $desktop-width;
	margin: 0 auto;
}
//MAIN
#app {
	.button {
		color: #fff;
		background-color: $blue;
		padding: 6px 10px;
		border-radius: 2px;
		border: 0px;
		font-size: 14px;
		&:hover, &:focus {
			background-color: $darkblue;
		}
	}
	.description {
		text-align: center;
	}
	#wrapper {
		max-width: 100%;
		margin: 0 auto;
		padding-bottom: 48px;//height of footer
		padding-top: 74px;//height of header
		h3,h4 {
			font-weight: 300;
		}
		input:focus, select:focus {
			outline-color: $blue;
		}
		.submit-job-container {
			padding: 10px;
			background-color: $lightgray;
			margin-bottom: 10px;
			.description {
				margin: 30px 0;
			}
			#submit_job {
				display: table;
				margin: 0 auto;
				border-spacing: 10px;
				p {
					display: table-row;
				}
				label {
					display: table-cell;
					padding-right: 80px;
				}
				input, select {
					display: table-cell;
					padding: 8px 8px;
					width: 240px;
					border: 2px solid $gray;
					border-radius: 4px;
					background-color: #fff;
				}				
				.file-input {
					input {
						padding: 2px 0;
						background-color: transparent;
						border: 0;
					}
				}
				.button-holder {
					text-align: center;
					button {
						margin: 40px 0 25px 0;
						font-size: 18px;
						padding: 10px 14px;
						position: relative;
						left: 62%;
					}
				}
			}
		}
		#jobs_list {
			padding: 10px;
			margin: 0 auto 10px auto;
			display: table;
			width: $desktop-width;
			.description {
				margin-bottom: 30px;
				font-size: 18px;
			}
			.job {
				width: 50%;
				float: left;
				.job-progress {
					height: 8px;
					border-bottom: 8px solid $blue;
					border-radius: 4px;
					margin-bottom: 6px;
				}
				.job-progress-text {
					text-align: center;
					margin-top: 6px;
				}
				summary {
					font-weight: 600;
					margin-bottom: 16px;
					&:focus {
						outline-color: $blue;
					}
				}
			}
			div.job {
				background-color: $lightgray;
				padding: 0 10px;
			}
			div:nth-child(4n) {
				background-color: #fff;
			}
			div:nth-child(4n+1) {
				background-color: #fff;
			}
		}
		.calculations-script-container {
			padding: 40px 20px;
			background-color: $darkgray;
			color: #fff;
			.description {
				margin-bottom: 30px;
			}
			#scriptForm {
				.button {
					background-color: $red;
					padding: 6px 12px 7px 12px;
					&:hover, &:focus {
						background-color: $darkred;
					}
				}
				a {
					text-decoration: none;
					color: $blue;
				}
				p {
					label {
						margin: 0 12px;
					}
				}
				.script-paragraph {
					text-align: center;
					input {
						padding: 5px 6px;
						margin-right: 12px;
					}
				}
			}
		}		
	}
}

//FOOTER
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $lightgray;
  padding: 15px 10px;
  .footer-text {
  	margin: 0 auto;
  	max-width: $desktop-width;
  }
}